<h1>Se a utilizado el servicio de login </h1>
<p>desde el dispositivo <strong><%= @agent %></strong> <br/>con el correo  <strong><%= @correo %></strong><br/> a las  <strong> <%= @momento %></strong><br/> de obteniendo como respuesta un código  <strong><%= @resultado %></strong></p>